*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/output
/app/release
/app/debug
/captures
.externalNativeBuild
.cxx
local.properties
.idea/AndroidProjectSystem.xml
.idea/material_theme_project_new.xml
.specstory/.project.json
.specstory/.what-is-this.md
node_modules
.vscode
dist/
项目文档
.specstory
history
