.*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/output
/app/release
/app/debug
/captures
.externalNativeBuild
.cxx
local.properties
.pnpm
.idea
.vscode
imates-next
项目文档
node_modules
webapp
# .agent
# .agents
# .claude
# .windsurf
# .claude
# .cline
# .codebuddy
# .codex
# .commandcode
# .continue
# .crush
# .cursor
# .factory
# .gemini
# .github
# .goose
# .kilocode
# .kiro
# .kode
# .mcpjam
# .pi
# .neovate
# .opencode
# .openhands
# .pochi
# .qoder
# .qwen
# .roo
# .specstory
# .trae
# .zencoder
# .claude
# .junie
# .mux
# .specstory
# skills