.*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/output
/app/release
/app/debug
/captures
.externalNativeBuild
.cxx
local.properties
.pnpm
.idea
.vscode
项目文档
node_modules
