.goback-btn {
  padding: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.goback-icon {
  width: 24px;
  height: 24px;
  display: block;
}

/* 确保在 browser 模式下，Toolbar 能够填满宽度 */
.unified-toolbar-browser {
  width: 100%;
}
