<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Device Admin 权限 -->
    <uses-permission
        android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" /> <!-- 系统级权限 -->
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> <!-- 网络权限用于远程配置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        android:required="true" />

    <application
        android:name=".ApplicationModelShared"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_sec_conf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMatesApp.FullScreen"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/shared_file_paths" />

        <activity
            android:name=".ui.activities.DocsViewerActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activities.KnowledgeGraphActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.activities.RichInputBoardActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.FindExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ImageViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.activities.PhotoSearchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.ExerciseSolveActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activities.FloatChatAiActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.LessonPreviewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.VideoPlayActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ScreenShotActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activities.ChatAiActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.mupdfviewer.activity.MuPDFActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.mupdfviewer.activity.OutlineActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.mupdfviewer.activity.AllPDFActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.mupdfviewer.activity.BasePDFActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.mupdfviewer.activity.MoreSetActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.mupdfviewer.activity.SignActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IMatesApp.FullScreen" />
        <activity
            android:name=".ui.activities.TextbookManagementActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <service
            android:name=".ui.robot.FloatingRobotService"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync|mediaProjection" /> <!-- Device Admin Receiver -->
        <receiver
            android:name=".deviceadmin.KioskDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver> <!-- 警告对话框Activity -->
        <activity
            android:name=".deviceadmin.WarningDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme" /> <!-- 应用监控服务 -->
        <service
            android:name=".deviceadmin.AppMonitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" /> <!-- 开机自启动 -->
        <receiver
            android:name=".deviceadmin.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>
    </application>

</manifest>